.para1{
background-color: aquamarine;
    color: blue;
    display:flex;
   justify-content: center;
  font-size: 40px;
  padding: 30px;
}

.para2{

  background-color: black;
  color: red;
  display:flex;
 justify-content: center;
 font-size: 40px;
padding:30px;
}